<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <link rel="icon" type="image/x-icon"
          href="../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <title>VirtualTeacher</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Pogo Slider CSS -->
    <link href="../static/css/pogo-slider.min.css" th:href="@{/css/pogo-slider.min.css}" rel="stylesheet"/>
    <!-- Site CSS -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="services" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">


<!-- END LOADER -->

<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img src="../static/images/logo.png"
                                                        th:src="@{/images/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><div id="output" class="hide"></div></li>
                    <li><p><button type="button" class="btn btn-info" onclick="runSpeechRecognition()">VirtualTeacher Assistant
                    </button> &nbsp; <span id="action"></span></p></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/users}">All users</a></li>
                    <li th:if="${isNotVerified} "><a class="nav-link" style="color: red" th:href="@{/verification}">Not VERIFIED</a></li>
                    <li th:if="${isAuthenticated}" th:unless="${isNotVerified}"><a class="nav-link"  th:href="@{/courses}">Courses</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/my-courses/{id}(id=${myId})}">My Courses</a></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/assignments}">Assignments for Grading</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/assignments/user/{id}(id=${myId})}">My Assignments</a></li>
                    <li th:unless="${isAuthenticated}"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
                    <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:text="${names}" th:href="@{/users/{id}(id=${myId})}">Names</a></li>
                    <a class="navbar-brand" th:if="${isAuthenticated}"><img
                            style="height: 40px;width: 40px;border-radius: 50%; margin-left: -15px"
                            th:src="'/files/'+ ${profilePicture}"
                            src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600088/29213190-businessman-silhouette-avatar-profile-picture.jpg?ver=6"
                            alt="image"></a>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

<!-- Start Banner -->
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-sm-4"><a th:if="${isAdmin} or ${isTeacher}" th:href="@{/assignments}" href="#"
                                     class="btn btn-outline-info waves-effect waves-light mb-4"
                                     data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200"
                                     data-overlaycolor="#36404a" style="margin-top: 10px"><i class="mdi mdi-plus"></i>Back</a>
            </div>
            <!-- end col -->
        </div>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-2 mb-3">

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>Assignment Description:</h3>
                        <textarea readonly rows="10" th:text="${assignment.getLecture().getAssignment()}" class="form-control" style="margin-bottom: 20px" >
                        </textarea>

                        <h3>Student's submitted work:</h3>
                        <textarea readonly rows="25" th:text="${path}" class="form-control" style="margin-bottom: 20px" >
                        </textarea>

                        <form action="#" th:action="@{/assignments/update/{id}(id=${assignment.getId()})}"
                              th:object="${assignment}" method="POST">
                            <input type="hidden" th:field="*{user}" />
                            <input type="hidden" th:field="*{lecture}" />
                            <input type="hidden" th:field="*{file}" />
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Grade</h6>
                                </div>
                                <div th:if="${isTeacher} or ${isAdmin}" class="col-sm-9 text-secondary">
                                    <label for="grade" class="sr-only">Grade</label>
                                    <select style="width: 40%" class="form-control" id="grade"
                                            th:field="*{grade}"
                                            required="">
                                        <option th:each="grade : ${grades}"
                                                th:value="${grade.getId()}"
                                                th:text="${grade.getName()}">
                                        </option>
                                    </select>
                                </div>
                                <div th:if="${isStudent}" class="col-sm-9 text-secondary">
                                    <label for="gr" class="sr-only">Grade</label>
                                    <h3 style="width: 40%" class="form-control" id="gr"
                                            th:text="*{grade.getName()}">
                                    </h3>
                                </div>
                            </div>
                            <hr>

                            <div th:if="${isTeacher} or ${isAdmin}" class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-lg btn-primary btn-block" style="margin-top: 15px"
                                            type="submit">Grade
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="../static/js/speech.js" th:src="@{/js/speech.js}"></script>
</body>

</html>