<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <!-- Site Metas -->
    <link rel="icon" type="image/x-icon"
          href="../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <title>VirtualTeacher</title>
    <!-- Site Metas -->
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Pogo Slider CSS -->
    <link href="../static/css/pogo-slider.min.css" th:href="@{/css/pogo-slider.min.css}" rel="stylesheet"/>
    <!-- Site CSS -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="../static/css/dropcss.css" th:href="@{/css/dropcss.css}">


    <!--[if lt IE 9]>
    <![endif]-->

</head>


<body id="services" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">


<!-- END LOADER -->

<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img src="../static/images/logo.png"
                                                        th:src="@{/images/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><div id="output" class="hide"></div></li>
                    <li><p><button type="button" class="btn btn-info" onclick="runSpeechRecognition()">VirtualTeacher Assistant
                    </button> &nbsp; <span id="action"></span></p></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/users}">All users</a></li>
                    <li th:if="${isNotVerified} "><a class="nav-link" style="color: red" th:href="@{/verification}">Not VERIFIED</a></li>
                    <li th:if="${isAuthenticated}" th:unless="${isNotVerified}"><a class="nav-link"  th:href="@{/courses}">Courses</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/my-courses/{id}(id=${myId})}">My Courses</a></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/assignments}">Assignments for Grading</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/assignments/user/{id}(id=${myId})}">My Assignments</a></li>
                    <li th:unless="${isAuthenticated}"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
                    <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:text="${names}" th:href="@{/users/{id}(id=${myId})}">Names</a></li>
                    <a class="navbar-brand" th:if="${isAuthenticated}"><img
                            style="height: 40px;width: 40px;border-radius: 50%; margin-left: -15px"
                            th:src="'/files/'+ ${profilePicture}"
                            src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600088/29213190-businessman-silhouette-avatar-profile-picture.jpg?ver=6"
                            alt="image"></a>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

<!-- Start Banner -->
<div class="section inner_page_header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="full">

                    <h3 style="display: inline;margin-right: 50px">Assignments </h3>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- end Banner -->


<!-- section -->
<div class="section layout_padding">


    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <form th:if="${isAdmin} or ${isTeacher}" class="form-inline"
                  method="get">
                <div class="input-group" style="width: 30%">
                    <label for="search" class="sr-only">Lectures</label>
                    <input type="text" class="form-control" name="search" id="search"
                           placeholder="Search for Student">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>
                        <a th:if="${isAdmin} or ${isTeacher}"
                           th:href="@{'/assignments/page/' + ${currentPage} + '/id/' + ${reverseSortDir} + '?search=' + ${search}}">
                            ID</a>
                        <a th:if="${isStudent}">ID</a>
                    </th>
                    <th>
                        <a th:if="${isAdmin} or ${isTeacher}"
                           th:href="@{'/assignments/page/' + ${currentPage} + '/user.email/' + ${reverseSortDir} + '?search=' + ${search}}">
                            Email</a>
                        <a th:if="${isStudent}">Email</a>
                    </th>
                    <th>
                        <a th:if="${isAdmin} or ${isTeacher}"
                           th:href="@{'/assignments/page/' + ${currentPage} + '/user/' + ${reverseSortDir} + '?search=' + ${search}}">
                            Names</a>
                        <a th:if="${isStudent}">Names</a>
                    </th>
                    <th>
                        <a th:if="${isAdmin} or ${isTeacher}"
                           th:href="@{'/assignments/page/' + ${currentPage} + '/lecture.course/' + ${reverseSortDir} + '?search=' + ${search}}">
                            Course</a>
                        <a th:if="${isStudent}">Course</a>
                    </th>
                    <th>
                        <a th:if="${isAdmin} or ${isTeacher}"
                           th:href="@{'/assignments/page/' + ${currentPage} + '/lecture/' + ${reverseSortDir} + '?search=' + ${search}}">
                            Lecture
                        </a>
                        <a th:if="${isStudent}">Lecture</a>
                    </th>
                    <th>
                        <a th:if="${isAdmin} or ${isTeacher}"
                           th:href="@{'/assignments/page/' + ${currentPage} + '/grade/' + ${reverseSortDir} + '?search=' + ${search}}">
                            Grade
                        </a>
                        <a th:if="${isStudent}">Grade</a>
                    </th>
                    <th> Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${isAdmin} or ${isTeacher}" th:each="assignment : ${listAssignments}">
                    <td style="font-weight:bold" th:text="${assignment.getId()}"></td>
                    <td style="font-weight:bold"
                        th:text="${assignment.getUser().getEmail()}"></td>
                    <td style="font-weight:bold"
                        th:text="${assignment.getUser().getFirstName()}+' ' +${assignment.getUser().getLastName()}"></td>
                    <td style="font-weight:bold" th:text="${assignment.getLecture().getCourse().getName()}"></td>
                    <td style="font-weight:bold" th:text="${assignment.getLecture().getName()}"></td>
                    <td style="font-weight:bold" th:text="${assignment.getGrade().getName()}"></td>
                    <td><a th:href="@{/assignments/{id}(id=${assignment.getId()})}" href="#"
                           class="btn btn-secondary">See Assignment</a>
                    </td>
                </tr>
                <tr th:if="${isStudent}" th:each="assignment : ${assignments}">
                    <td style="font-weight:bold" th:text="${assignment.getId()}"></td>
                    <td style="font-weight:bold"
                        th:text="${assignment.getUser().getEmail()}"></td>
                    <td style="font-weight:bold"
                        th:text="${assignment.getUser().getFirstName()}+' ' +${assignment.getUser().getLastName()}"></td>
                    <td style="font-weight:bold" th:text="${assignment.getLecture().getCourse().getName()}"></td>
                    <td style="font-weight:bold" th:text="${assignment.getLecture().getName()}"></td>
                    <td style="font-weight:bold" th:text="${assignment.getGrade().getName()}"></td>
                    <td><a th:href="@{/assignments/{id}(id=${assignment.getId()})}" href="#"
                           class="btn btn-secondary">See Assignment</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${totalPages > 1}">
                <div class="row col-sm-10">
                    <div class="col-sm-2">
                        Total Rows: [[${totalItems}]]
                    </div>
                    <div class="col-sm-3">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/assignments/page/' + ${i}+ '/' + ${sortField} + '/' + ${sortDir} + '?search=' + ${search}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                    </div>
                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/assignments/page/' + ${currentPage + 1}+ '/' + ${sortField} + '/' + ${sortDir} + '?search=' + ${search}}">Next</a>
                        <span th:unless="${currentPage < totalPages}">Next</span>
                    </div>

                    <div class="col-sm-1">
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/assignments/page/' + ${totalPages}+ '/' + ${sortField} + '/' + ${sortDir} + '?search=' + ${search}}">Last</a>
                        <span th:unless="${currentPage < totalPages}">Last</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- end section -->


<!-- ALL JS FILES -->
<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- ALL PLUGINS -->

<script type="text/javascript" src="../static/js/contact-form-script.js"
        th:src="@{/js/contact-form-script.js}"></script>
<script type="text/javascript" src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<script type="text/javascript" src="../static/js/speech.js" th:src="@{/js/speech.js}"></script>

</body>

</html>