<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <link rel="icon" type="image/x-icon"
          href="../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <title>VirtualTeacher</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Pogo Slider CSS -->
    <link href="../static/css/pogo-slider.min.css" th:href="@{/css/pogo-slider.min.css}" rel="stylesheet"/>
    <!-- Site CSS -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="services" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">


<!-- END LOADER -->

<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img src="../static/images/logo.png"
                                                        th:src="@{/images/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><div id="output" class="hide"></div></li>
                    <li><p><button type="button" class="btn btn-info" onclick="runSpeechRecognition()">VirtualTeacher Assistant
                    </button> &nbsp; <span id="action"></span></p></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/users}">All users</a></li>
                    <li th:if="${isNotVerified} "><a class="nav-link" style="color: red" th:href="@{/verification}">Not VERIFIED</a></li>
                    <li th:if="${isAuthenticated}" th:unless="${isNotVerified}"><a class="nav-link"  th:href="@{/courses}">Courses</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/my-courses/{id}(id=${myId})}">My Courses</a></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/assignments}">Assignments for Grading</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/assignments/user/{id}(id=${myId})}">My Assignments</a></li>
                    <li th:unless="${isAuthenticated}"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
                    <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:text="${names}" th:href="@{/users/{id}(id=${myId})}">Names</a></li>
                    <a class="navbar-brand" th:if="${isAuthenticated}"><img
                            style="height: 40px;width: 40px;border-radius: 50%; margin-left: -15px"
                            th:src="'/files/'+ ${profilePicture}"
                            src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600088/29213190-businessman-silhouette-avatar-profile-picture.jpg?ver=6"
                            alt="image"></a>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

<!-- Start Banner -->
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-sm-4"><a th:href="@{/courses}" href="#"
                                     class="btn btn-outline-info waves-effect waves-light mb-4"
                                     data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200"
                                     data-overlaycolor="#36404a" style="margin-top: 10px"><i class="mdi mdi-plus"></i>Back</a>
            </div>
            <!-- end col -->
        </div>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm" >
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://cdn1.iconfinder.com/data/icons/line-essentials-80/20/3911-512.png"
                                 width="300">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <form action="#" th:action="@{/courses/new}" th:object="${course}" method="POST">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label for="name" class="sr-only">Name</label>
                                    <input type="text" class="form-control" th:field="*{name}" name="search" id="name" required=""
                                           placeholder="Course Name">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Starting Date</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label for="date" class="sr-only">Date</label>
                                    <input type="date" class="form-control"
                                           th:field="*{startingDate}"
                                           name="search" id="date"
                                           placeholder="Date"
                                           required="">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Topic</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label for="topic"></label>
                                    <select style="margin-top: -20px;width: 30%" class="form-control" id="topic"
                                            th:field="*{topic}"
                                            required="">
                                        <option th:each="topic : ${topics}"
                                                th:value="${topic.getId()}"
                                                th:text="${topic.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Status</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label for="status"></label>
                                    <select style="margin-top: -20px;width: 30%" class="form-control" id="status"
                                            th:field="*{status}"
                                            required="">
                                        <option th:each="status : ${statuses}"
                                                th:value="${status.getId()}"
                                                th:text="${status.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Description</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label for="description" class="sr-only">Description</label>
                                    <textarea rows="5" type="text" class="form-control" name="search" id="description"
                                              th:field="*{description}"
                                              placeholder="Description"></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Picture_URL</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label for="picture" class="sr-only">Picture_URL</label>
                                    <input type="text" class="form-control" name="search" id="picture"
                                           th:field="*{picture}"
                                           placeholder="Picture_URL"
                                           required="">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-lg btn-primary btn-block" style="margin-top: 15px"
                                            type="submit">Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <form action="#" th:action="@{/courses/new-topic}" th:object="${topic}" method="POST">
                        <div class="col-sm-3">
                            <h6 style="text-align: right" class="mb-0">Add New Topic</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <div class="input-group" style="width: 40%">
                                <label for="search" class="sr-only">Courses</label>
                                <input th:value="${topic.name}" th:name="name" type="text" class="form-control"
                                       name="search" id="search"
                                       placeholder="Add New Topic" required="">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-inbox"></i>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </form>


                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="../static/js/speech.js" th:src="@{/js/speech.js}"></script>
</body>

</html>