<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <!-- Site Metas -->
    <link rel="icon" type="image/x-icon"
          href="../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <title>VirtualTeacher</title>
    <!-- Site Metas -->
    <!-- Site Metas -->


    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Pogo Slider CSS -->
    <link href="../static/css/pogo-slider.min.css" th:href="@{/css/pogo-slider.min.css}" rel="stylesheet"/>
    <!-- Site CSS -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">


<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img src="../static/images/logo.png"
                                                        th:src="@{/images/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li>
                        <div id="output" class="hide"></div>
                    </li>
                    <li>
                        <p>
                            <button type="button" class="btn btn-info" onclick="runSpeechRecognition()">VirtualTeacher
                                Assistant
                            </button> &nbsp; <span id="action"></span></p>
                    </li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/users}">All users</a></li>
                    <li th:if="${isNotVerified} "><a class="nav-link" style="color: red" th:href="@{/verification}">Not
                        VERIFIED</a></li>
                    <li th:if="${isAuthenticated}" th:unless="${isNotVerified}"><a class="nav-link"
                                                                                   th:href="@{/courses}">Courses</a>
                    </li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/my-courses/{id}(id=${myId})}">My
                        Courses</a></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/assignments}">Assignments for
                        Grading</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/assignments/user/{id}(id=${myId})}">My
                        Assignments</a></li>
                    <li th:unless="${isAuthenticated}"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
                    <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:text="${names}"
                                                      th:href="@{/users/{id}(id=${myId})}">Names</a></li>
                    <a class="navbar-brand" th:if="${isAuthenticated}"><img
                            style="height: 40px;width: 40px;border-radius: 50%; margin-left: -15px"
                            th:src="@{/files/{profilePicture}(profilePicture=${profilePicture})}"
                            src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600088/29213190-businessman-silhouette-avatar-profile-picture.jpg?ver=6"
                            alt="image"></a>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

<!-- Start Banner -->


<div class="pogoSlider" id="js-main-slider"
     style="background-image:url(https://pngmagic.com/product_images/turquoise-solid-color-background.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slide_text">
                    <h3><span span class="theme_color">Welcome to</span><br>VirtualTeacher</h3>
                    <h4>Free Educations</h4>
                    <br>
                    <div class="full center">
                        <a th:unless="${isAuthenticated}" class="contact_bt"
                           th:href="@{/register}">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .pogoSlider -->


<!-- End Banner -->

<!-- section -->
<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                        <h2><span>Welcome To</span> VirtualTeacher</h2>
                    </div>
                    <div class="full">
                        <p>Welcome to VirtualTeacher,
                            Here we guide you to the best online courses, e-learning advice, and technology and
                            resources for education and training. Find great LMS or content providers, a web-based
                            course to enhance your skills, or expert research and news on the latest software and
                            strategies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="full">
                    <img src="images/img2.png" alt="#"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

<div th:unless="${isAuthenticated}" class="section layout_padding">
    <div class="container">
        <div class="col-md-12">
            <div class="full">
                <div class="heading_main text_align_center">
                    <h2><span>Popular </span>Courses</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div th:each="course : ${topCourses}" class="col-md-4">
                <div class="full blog_img_popular">
                    <h3 th:text="${course.getName()}"></h3>
                    <img class="img-responsive" th:src="${course.getPicture()}" src="images/p1.png" alt="#"/>
                </div>

            </div>

        </div>
    </div>
</div>
</div>


<!-- section -->
<div class="section margin-top_50 silver_bg" th:if="${isStudent} or ${isNotVerified}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="full float-right_img">
                    <img src="images/img6.png" alt="#"/>
                </div>
            </div>
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                        <h2><span>Become a teacher</span></h2>
                    </div>
                    <div class="full">
                        <p>You start with your passion and knowledge. Then choose a promising topic with the help of our Marketplace Insights tool.

                            The way that you teach — what you bring to it — is up to you.

                            How we help you
                            We offer plenty of resources on how to create your first course. And, our instructor dashboard and curriculum pages help keep you organized.</p>
                    </div>
                    <div class="full">
                        <a class="hvr-radial-out button-theme" th:href="@{/application}">Apply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->

<!-- ALL JS FILES -->
<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- ALL PLUGINS -->

<script type="text/javascript" src="../static/js/contact-form-script.js"
        th:src="@{/js/contact-form-script.js}"></script>
<script type="text/javascript" src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>

<script type="text/javascript" src="../static/js/speech.js" th:src="@{/js/speech.js}"></script>


</body>

</html>