<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <!-- Site Metas -->
    <link rel="icon" type="image/x-icon"
          href="../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <title>VirtualTeacher</title>
    <!-- Site Metas -->
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Pogo Slider CSS -->
    <link href="../static/css/pogo-slider.min.css" th:href="@{/css/pogo-slider.min.css}" rel="stylesheet"/>
    <!-- Site CSS -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="../static/css/dropcss.css" th:href="@{/css/dropcss.css}">


    <!--[if lt IE 9]>
    <![endif]-->

</head>


<body id="services" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">


<!-- END LOADER -->

<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img src="../static/images/logo.png"
                                                        th:src="@{/images/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><div id="output" class="hide"></div></li>
                    <li><p><button type="button" class="btn btn-info" onclick="runSpeechRecognition()">VirtualTeacher Assistant
                    </button> &nbsp; <span id="action"></span></p></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/users}">All users</a></li>
                    <li th:if="${isNotVerified} "><a class="nav-link" style="color: red" th:href="@{/verification}">Not VERIFIED</a></li>
                    <li th:if="${isAuthenticated}" th:unless="${isNotVerified}"><a class="nav-link"  th:href="@{/courses}">Courses</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/my-courses/{id}(id=${myId})}">My Courses</a></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/assignments}">Assignments for Grading</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/assignments/user/{id}(id=${myId})}">My Assignments</a></li>
                    <li th:unless="${isAuthenticated}"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
                    <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:text="${names}" th:href="@{/users/{id}(id=${myId})}">Names</a></li>
                    <a class="navbar-brand" th:if="${isAuthenticated}"><img
                            style="height: 40px;width: 40px;border-radius: 50%; margin-left: -15px"
                            th:src="'/files/'+ ${profilePicture}"
                            src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600088/29213190-businessman-silhouette-avatar-profile-picture.jpg?ver=6"
                            alt="image"></a>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

<!-- Start Banner -->
<div class="section inner_page_header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="full">

                    <h3 style="display: inline;margin-right: 50px">Lecture: </h3>
                    <h3 style="display: inline" th:text="${lecture.getName()}">Name</h3>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- end Banner -->


<!-- section -->
<div class="section layout_padding">

    <nav style="width: 70%;margin-left: 15%;margin-top: -40px" aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/courses}">Courses</a></li>
            <li class="breadcrumb-item"><a th:text="${lecture.getCourse().getName()}"
                                           th:href="@{/courses/{id}(id=${lecture.getCourse().getId()})}">Course
                Name</a></li>
            <li class="breadcrumb-item"><a th:text="${lecture.getName()}">Lecture Name</a></li>
        </ol>
    </nav>

    <nav style="width: 40%;margin-left: 30%" aria-label="breadcrumb" class="main-breadcrumb">
        <h3 class="breadcrumb-item">Lecture description: </h3>
        <div class="breadcrumb">
            <h3 class="breadcrumb-item" th:text="${lecture.getDescription()}">Description</h3>
        </div>
    </nav>


    <iframe style="margin-left: 25%" width="1000" height="565" th:src="${lecture.getVideoUrl()}"
            src="https://www.youtube.com/embed/_uk_6vfqwTA"

            allowfullscreen></iframe>

    <nav style="width: 40%;margin-left: 30%;margin-top: 5%" aria-label="breadcrumb" class="main-breadcrumb">
        <h3 class="breadcrumb-item">Assigment: </h3>
        <div class="breadcrumb">
            <h3 class="breadcrumb-item" th:text="${lecture.getAssignment()}">Assigment</h3>
        </div>

        <form th:if="${submitted.isEmpty()}" th:unless="${isAdmin} or ${isTeacher}" th:action="@{/lectures/upload/{lectureId}(lectureId=${lecture.getId()})}" th:object="${assignment}" method="post" action="#" id="#" enctype="multipart/form-data">
            <div class="form-group files">
                <label>Upload Your File </label>
                <input type="file" th:field="*{file}" class="form-control" multiple="" accept=".txt">
            </div>


            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 15px"
                    type="submit">Send
            </button>
        </form>
            <h2 th:if="${!submitted.isEmpty()}" style="color: green" class="breadcrumb-item">Assignment submitted!</h2>


    </nav>



</div>

<!-- end section -->


<!-- ALL JS FILES -->
<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- ALL PLUGINS -->

<script type="text/javascript" src="../static/js/contact-form-script.js"
        th:src="@{/js/contact-form-script.js}"></script>
<script type="text/javascript" src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<script type="text/javascript" src="../static/js/speech.js" th:src="@{/js/speech.js}"></script>
</body>

</html>