<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <!-- Site Metas -->
    <link rel="icon" type="image/x-icon"
          href="../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <title>VirtualTeacher</title>
    <!-- Site Metas -->
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Pogo Slider CSS -->
    <link href="../static/css/pogo-slider.min.css" th:href="@{/css/pogo-slider.min.css}" rel="stylesheet"/>
    <!-- Site CSS -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="services" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">


<!-- END LOADER -->

<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img src="../static/images/logo.png"
                                                        th:src="@{/images/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><div id="output" class="hide"></div></li>
                    <li><p><button type="button" class="btn btn-info" onclick="runSpeechRecognition()">VirtualTeacher Assistant
                    </button> &nbsp; <span id="action"></span></p></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/users}">All users</a></li>
                    <li th:if="${isNotVerified} "><a class="nav-link" style="color: red" th:href="@{/verification}">Not
                        VERIFIED</a></li>
                    <li th:if="${isAuthenticated}" th:unless="${isNotVerified}"><a class="nav-link" th:href="@{/courses}">Courses</a>
                    </li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/my-courses/{id}(id=${myId})}">My
                        Courses</a></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/assignments}">Assignments for
                        Grading</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/assignments/user/{id}(id=${myId})}">My
                        Assignments</a></li>
                    <li th:unless="${isAuthenticated}"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
                    <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:text="${names}"
                                                      th:href="@{/users/{id}(id=${myId})}">Names</a></li>
                    <a class="navbar-brand" th:if="${isAuthenticated}"><img
                            style="height: 40px;width: 40px;border-radius: 50%; margin-left: -15px"
                            th:src="'/files/'+ ${profilePicture}"
                            src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600088/29213190-businessman-silhouette-avatar-profile-picture.jpg?ver=6"
                            alt="image"></a>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

<!-- Start Banner -->
<div class="section inner_page_header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="full">
                    <div th:if="${isTeacher} or ${isAdmin} or ${userCourse==null}">
                    <h3 style="display: inline;margin-right: 50px">Selected Course : </h3>
                    <h3 style="display: inline" th:text="${course.getName()}">Name</h3>
                    </div>
                    <form action="#" th:if="${isStudent} and ${userCourse!=null}" th:action="@{/courses/rate/{id}(id=${userCourse.getId()})}"
                          th:object="${userCourse}" method="POST">
                        <h3 style="display: inline;margin-right: 50px">Selected Course : </h3>
                        <h3 style="display: inline" th:text="${course.getName()}">Name</h3>
                        <h3 style="display: inline;margin-left: 15%"></h3>
                        <label for="courseRating"></label>
                        <select th:value="${userCourse.courseRating}" th:name="courseRating" th:if="${userCourse.getCourseRating()==0} and ${averageGrade>=3}"
                                style="width: 15%;display: inline" class="form-control"
                                id="courseRating">
                            <option th:value="${5}">
                                ⭐⭐⭐⭐⭐
                            </option>
                            <option th:value="${4}">
                                ⭐⭐⭐⭐
                            </option>
                            <option th:value="${3}">
                                ⭐⭐⭐
                            </option>
                            <option th:value="${2}">
                                ⭐⭐
                            </option>
                            <option th:value="${1}">
                                ⭐
                            </option>
                        </select>
                        <input type="hidden" th:field="*{user}"/>
                        <input type="hidden" th:field="*{course}"/>
                        <button class="btn btn-lg btn-primary"
                                th:if="${userCourse.getCourseRating()==0} and ${averageGrade>=3} "
                                type="submit">Rate
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end Banner -->


<!-- section -->
<div class="section layout_padding">
    <nav style="width: 70%;margin-left: 15%;margin-top: -40px" aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/courses}">Courses</a></li>
            <li class="breadcrumb-item"><a th:text="${course.getName()}" th:href="@{/courses/{id}(id=${course.getId()})}">Course
                Name</a></li>
        </ol>
    </nav>
    <div class="row">

        <div class="col-12 ">


            <h3 class="form-group mx-sm-3 mb-2">
                <a th:if="${isAdmin} or ${isTeacher}" th:href="@{/lectures/new/{id}(id=${course.getId()})}" href="#"
                   style="margin-left: 45%" class="btn btn-outline-dark">Add New Lecture</a>
            </h3>

            <nav style="width: 50%;margin-left: 25%" aria-label="breadcrumb" class="main-breadcrumb">
                <h3 class="breadcrumb-item">Course description: </h3>
                <div class="breadcrumb">
                    <h3 class="breadcrumb-item" th:text="${course.getDescription()}">Description</h3>
                </div>
            </nav>
            <div class="container">
                <form class="form-inline" th:object="${lectures}" th:action="@{__${#httpServletRequest.requestURI}__}"
                      method="get">
                    <div class="input-group" style="width: 30%">
                        <label for="search" class="sr-only">Lectures</label>
                        <input type="text" class="form-control" name="search" id="search"
                               placeholder="Search for Lectures">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!--        <form class="form-inline" th:object="${lectures}" th:action="@{__${#httpServletRequest.requestURI}__}"-->
                <!--              method="post">-->
                <!--            -->
                <!--        </form>-->


                <div class="row margin-top_30">

                    <tr th:each="lecture : ${lectures}">
                        <div class="col-sm-6 col-md-4">
                            <a th:href="@{/lectures/{id}(id=${lecture.getId()})}" href="#">
                                <div class="service_blog">

                                    <div class="service_icons">
                                        <img width="100%" height="50%" src="../static/images/youtube.png"
                                             th:src="@{/images/youtube.png}">
                                    </div>
                                    <div class="full">
                                        <h4 th:text="${lecture.getName()}">DIGITAL marketing</h4>
                                    </div>
                                    <td th:if="${isAdmin} or ${isTeacher}">
                                        <a th:href="@{/lectures/update/{lectureId} (lectureId = ${lecture.getId()})}"
                                           href="#"
                                           class="btn btn-primary">Update</a>
                                        <a th:href="@{/lectures/delete/{lectureId} (lectureId = ${lecture. getId()})}"
                                           href="#"
                                           class="btn btn-danger">Delete</a>
                                    </td>
                                </div>

                            </a>

                        </div>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end section -->


<!-- ALL JS FILES -->
<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- ALL PLUGINS -->

<script type="text/javascript" src="../static/js/contact-form-script.js"
        th:src="@{/js/contact-form-script.js}"></script>
<script type="text/javascript" src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<script type="text/javascript" src="../static/js/speech.js" th:src="@{/js/speech.js}"></script>

</body>

</html>