<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <!-- Site Metas -->
    <link rel="icon" type="image/x-icon"
          href="../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <title>VirtualTeacher</title>
    <!-- Site Metas -->
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Pogo Slider CSS -->
    <link href="../static/css/pogo-slider.min.css" th:href="@{/css/pogo-slider.min.css}" rel="stylesheet"/>
    <!-- Site CSS -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="services" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">


<!-- END LOADER -->

<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img src="../static/images/logo.png"
                                                        th:src="@{/images/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><div id="output" class="hide"></div></li>
                    <li><p><button type="button" class="btn btn-info" onclick="runSpeechRecognition()">VirtualTeacher Assistant
                    </button> &nbsp; <span id="action"></span></p></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/users}">All users</a></li>
                    <li th:if="${isNotVerified} "><a class="nav-link" style="color: red" th:href="@{/verification}">Not
                        VERIFIED</a></li>
                    <li th:if="${isAuthenticated}" th:unless="${isNotVerified}"><a class="nav-link"
                                                                                   th:href="@{/courses}">Courses</a>
                    </li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/my-courses/{id}(id=${myId})}">My
                        Courses</a></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/assignments}">Assignments for
                        Grading</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/assignments/user/{id}(id=${myId})}">My
                        Assignments</a></li>
                    <li th:unless="${isAuthenticated}"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
                    <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:text="${names}"
                                                      th:href="@{/users/{id}(id=${myId})}">Names</a></li>
                    <a class="navbar-brand" th:if="${isAuthenticated}"><img
                            style="height: 40px;width: 40px;border-radius: 50%; margin-left: -15px"
                            th:src="'/files/'+ ${profilePicture}"
                            src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600088/29213190-businessman-silhouette-avatar-profile-picture.jpg?ver=6"
                            alt="image"></a>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

<!-- Start Banner -->
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <div class="row">
            <div class="col-sm-4"><a th:href="@{/users/{id} (id = ${updatedUser.getId()})}" href="#"
                                     class="btn btn-outline-info waves-effect waves-light mb-4"
                                     data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200"
                                     data-overlaycolor="#36404a" style="margin-top: 10px"><i class="mdi mdi-plus"></i>Back</a>
            </div>
            <!-- end col -->
        </div>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm" style="margin-top: 3%">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                 th:src="'/files/'+ ${updatedUser.profilePicture}"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 th:text="${updatedUser.getFirstName()+' '+ updatedUser.getLastName()}">John Doe</h4>
                                <h5 th:text="${'Role: '+ updatedUser.getRole().getName()}">Role</h5>
                            </div>
                            <form th:action="@{/users/update-picture/{id}(id=${updatedUser.getId()})}" th:object="${file}" method="post" action="#" id="#" enctype="multipart/form-data">
                                <div class="form-group files">
                                    <label>Change Profile Picture </label>
                                    <input type="file" th:field="*{file}" class="form-control" multiple="" >
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" style="margin-top: 15px"
                                        type="submit">Change
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                      th:object="${updatedUser}" method="POST">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Change First Name</h6>
                                </div>
                                <div class="mt-3">
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label for="firstname" class="sr-only">First Name</label>
                                    <input type="text" class="form-control" name="search" id="firstname"
                                           th:value="${updatedUser.firstName}" th:name="firstName"
                                           placeholder="Edit First Name">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Change Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label for="lastname" class="sr-only">Last Name</label>
                                    <input type="text" class="form-control" name="search" id="lastname"
                                           th:value="${updatedUser.lastName}" th:name="lastName"
                                           placeholder="Edit Last Name">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Change Password</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <label for="password" class="sr-only">Change Password</label>
                                    <input type="password" class="form-control" name="search" id="password"
                                           th:value="${updatedUser.password}" th:name="password"
                                           placeholder="Change Password">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-9 text-secondary">
                                    <label for="picture" class="sr-only">Picture_URL</label>
                                    <input type="hidden" class="form-control" name="search" id="picture"
                                           th:value="${updatedUser.profilePicture}" th:name="profilePicture"
                                           placeholder="Change Picture_URL">
                                </div>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 15px;width: 20%"
                                    type="submit">Save
                            </button>
                        </div>
                        <input type="hidden" th:field="*{role}"/>
                        <input type="hidden" th:field="*{email}"/>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="../static/js/speech.js" th:src="@{/js/speech.js}"></script>
</body>

</html>