<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Site Metas -->
	<!-- Site Metas -->
	<link rel="icon" type="image/x-icon"
		  href="../static/images/logo.png" th:href="@{/images/logo.png}"/>
	<title>VirtualTeacher</title>
	<!-- Site Metas -->
	<!-- Site Metas -->

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

	<!-- Pogo Slider CSS -->
	<link href="../static/css/pogo-slider.min.css" th:href="@{/css/pogo-slider.min.css}" rel="stylesheet"/>
	<!-- Site CSS -->
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
	<!-- Responsive CSS -->
	<link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
	<!-- Custom CSS -->
	<link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>


<body>

<header class="top-header">
	<nav class="navbar header-nav navbar-expand-lg">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}"><img src="../static/images/logo.png"
														th:src="@{/images/logo.png}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
					aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
				<ul class="navbar-nav">
					<li><div id="output" class="hide"></div></li>
					<li><p><button type="button" class="btn btn-info" onclick="runSpeechRecognition()">VirtualTeacher Assistant
					</button> &nbsp; <span id="action"></span></p></li>
					<li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/users}">All users</a></li>
					<li th:if="${isNotVerified} "><a class="nav-link" style="color: red" th:href="@{/verification}">Not VERIFIED</a></li>
					<li th:if="${isAuthenticated}" th:unless="${isNotVerified}"><a class="nav-link"  th:href="@{/courses}">Courses</a></li>
					<li th:if="${isStudent}"><a class="nav-link" th:href="@{/my-courses/{id}(id=${myId})}">My Courses</a></li>
					<li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/assignments}">Assignments for Grading</a></li>
					<li th:if="${isStudent}"><a class="nav-link" th:href="@{/assignments/user/{id}(id=${myId})}">My Assignments</a></li>
					<li th:unless="${isAuthenticated}"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
					<li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
					<li th:if="${isAuthenticated}"><a class="nav-link" th:text="${names}" th:href="@{/users/{id}(id=${myId})}">Names</a></li>
					<a class="navbar-brand" th:if="${isAuthenticated}"><img
							style="height: 40px;width: 40px;border-radius: 50%; margin-left: -15px"
							th:src="'/files/'+ ${profilePicture}"
							src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600088/29213190-businessman-silhouette-avatar-profile-picture.jpg?ver=6"
							alt="image"></a>
					<li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/logout}">Sign out</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="../static/images/logo.png" th:src="@{/images/logo.png}" style="width: 200px" id="icon" alt="User Icon" />
		</div>

		<!-- Login Form -->
		<form class="form-signin" action="#" th:action="@{/register}" th:object="${register}" method="post">
			<input type="text" id="email" class="fadeIn second" name="email" placeholder="Email" required="" th:field="*{email}">
			<input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required="" th:field="*{password}">
			<input type="password" id="passwordconfirm" class="fadeIn third" name="passwordConfirm" placeholder="Confirm Password" required="" th:field="*{passwordConfirm}">
			<input type="text" id="first_name" class="fadeIn third" name="firstName" placeholder="First Name" required="" th:field="*{firstName}">
			<input type="text" id="last_name" class="fadeIn third" name="lastName" placeholder="Last Name" required="" th:field="*{lastName}">

			<label class="error" style="color: red" th:errors="*{email}">Username error placeholder</label>
			<label class="error" style="color: red" th:errors="*{password}">Password error placeholder</label>
			<label class="error" style="color: red" th:errors="*{passwordConfirm}">Password Confirm error placeholder</label>
			<label class="error" style="color: red" th:errors="*{firstName}">First Name error placeholder</label>
			<label class="error" style="color: red" th:errors="*{lastName}">Last Name error placeholder</label>

			<input  type="submit" class="fadeIn fourth" value="Register">
		</form>

		<!-- Remind Passowrd -->
		<div id="formFooter">
			<a >Already have account?</a>
			<a style="color: #56baed" class="underlineHover" th:href="@{/login}">Login!</a>
		</div>

	</div>
</div>


<!-- ALL JS FILES -->
<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- ALL PLUGINS -->

<script type="text/javascript" src="../static/js/contact-form-script.js"
		th:src="@{/js/contact-form-script.js}"></script>
<script type="text/javascript" src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
<script type="text/javascript" src="../static/js/speech.js" th:src="@{/js/speech.js}"></script>


</body>
</html>