<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <!-- Site Metas -->
    <link rel="icon" type="image/x-icon"
          href="../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <title>VirtualTeacher</title>
    <!-- Site Metas -->
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="#"/>

    <!-- Bootstrap CSS -->
    <link href="../static/css/custom1.css" th:href="@{/css/custom1.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Pogo Slider CSS -->
    <link href="../static/css/pogo-slider.min.css" th:href="@{/css/pogo-slider.min.css}" rel="stylesheet"/>
    <!-- Site CSS -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" th:href="@{/css/responsive.css}" rel="stylesheet"/>
    <!-- Custom CSS -->

    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link href="../static/css/custom.css" th:href="@{/css/custom1.css}" rel="stylesheet"/>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">


<!-- END LOADER -->

<!-- Start header -->
<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}"><img src="../static/images/logo.png"
                                                        th:src="@{/images/logo.png}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><div id="output" class="hide"></div></li>
                    <li><p><button type="button" class="btn btn-info" onclick="runSpeechRecognition()">VirtualTeacher Assistant
                    </button> &nbsp; <span id="action"></span></p></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/users}">All users</a></li>
                    <li th:if="${isNotVerified} "><a class="nav-link" style="color: red" th:href="@{/verification}">Not VERIFIED</a></li>
                    <li th:if="${isAuthenticated}" th:unless="${isNotVerified}"><a class="nav-link"  th:href="@{/courses}">Courses</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/my-courses/{id}(id=${myId})}">My Courses</a></li>
                    <li th:if="${isAdmin} or ${isTeacher}"><a class="nav-link" th:href="@{/assignments}">Assignments for Grading</a></li>
                    <li th:if="${isStudent}"><a class="nav-link" th:href="@{/assignments/user/{id}(id=${myId})}">My Assignments</a></li>
                    <li th:unless="${isAuthenticated}"><a class="nav-link" th:href="@{/login}">Sign in</a></li>
                    <li><a class="nav-link" th:href="@{/contact}">Contact us</a></li>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:text="${names}" th:href="@{/users/{id}(id=${myId})}">Names</a></li>
                    <a class="navbar-brand" th:if="${isAuthenticated}"><img
                            style="height: 40px;width: 40px;border-radius: 50%; margin-left: -15px"
                            th:src="'/files/'+ ${profilePicture}"
                            src="https://us.123rf.com/450wm/kritchanut/kritchanut1406/kritchanut140600088/29213190-businessman-silhouette-avatar-profile-picture.jpg?ver=6"
                            alt="image"></a>
                    <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

<!-- section -->

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><a th:if="${isAdmin}" th:href="@{/application/users}" href="#" class="btn btn-outline-info waves-effect waves-light mb-4"
                                     data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200"
                                     data-overlaycolor="#36404a" style="margin-top: 10px"><i class="mdi mdi-plus"></i> Teacher applicants</a>
            </div>
            <!-- end col -->
        </div>

        <form class="form-inline" th:object="${users}" th:action="@{__${#httpServletRequest.requestURI}__}"
              method="get">
            <div class="input-group" style="width: 30%">
                <label for="search" class="sr-only">User</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="Search for User">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- end row -->

        <div class="row">
            <tr th:each="user : ${users}">
                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="member-card pt-2 pb-2">
                            <div class="thumb-lg member-thumb mx-auto"><img
                                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                    class="rounded-circle img-thumbnail" th:src="'/files/'+ ${user.getProfilePicture()}"></div>
                            <div class="">
                                <h4 th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Freddie J.
                                    Plourde</h4>
                                <p class="text-muted" th:text="${'Role: '+user.getRole().getName()}">@Founder</p>
                            </div>
                            <h5 th:text="${user.getEmail()}"> Email</h5>
                            <a th:href="@{/users/{id}(id=${user.getId()})}">
                                <button type="button"
                                        class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">
                                    Check profile
                                </button>
                            </a>
                        </div>

                    </div>

                </div>
            </tr>
        </div>
    </div>
    <!-- end col -->


    <!-- ALL JS FILES -->
    <script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>

    <!-- ALL PLUGINS -->

    <script type="text/javascript" src="../static/js/contact-form-script.js"
            th:src="@{/js/contact-form-script.js}"></script>
    <script type="text/javascript" src="../static/js/custom.js" th:src="@{/js/custom.js}"></script>
    <script type="text/javascript" src="../static/js/speech.js" th:src="@{/js/speech.js}"></script>
</div>
</body>

</html>